<include file="Public/header"/>
<script type="text/javascript" src="__PUBLIC__/DataAdmin/jedate/jedate.js"></script>
<body>
<include file="Public/nav"/>
<div class="down-main">
  <include file="Public/left"/>
  <div class="right-product right-full">
          <!---rightcontent---->
            <div class="container-fluid">
              <div class="info-center">
                <!-- header -->
                <div class="page-header">
                    <div class="pull-left">
                    <h4>修改角色</h4>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="content-list">
                <!--内容开始-->
                    <form class="form-horizontal" method="post" action="{:U('Auth/editrole')}"  id="signupForm">
                            <input type="hidden" name="id" value="{$info.id}"/>
                    		<div class="form-group">
                                <label class="col-sm-2 control-label">角色名称：</label>
                                <div class="col-sm-2">
									<input type="text"  name="name"  id="name" dataType="*" placeholder="角色名称" class="form-control" style="width:560px;" value="{$info.name}">
								</div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注信息：</label>
                                <div class="col-sm-1 one">
									<input type="text"  name="remark" id="remark" dataType="*" placeholder="备注信息" class="form-control" style="width:560px;" value="{$info.remark}">
								</div>
                            </div>
                            <div class="hr-line-dashed"></div>
	                        <div class="form-group">
	                            <label class="col-sm-2 control-label">状态</label>
	                            <div class="col-sm-6" style="width: 250px;">
	                                <select name="status" class="form-control fromtype" id="type">
										<option value="" >请选择</option>
										<option value="0" <if condition="$info['status'] eq 0">selected</if>>停用</option>
										<option value="1" <if condition="$info['status'] eq 1">selected</if>>正常</option>
									</select>
	                            </div>
	                        </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <a class="btn btn-danger" href="">取消</a>
                                </div>
                            </div>
                        </form>

                <!--内容开始-->
                </div>

              </div>
            </div>
  </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
    	
    })
</script>
<include file="Public/footer"/>